<!-- Add this to <head> -->

<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

<div id="app" class="col-lg-12">
  <div>
    <b-button id="show-btn" @click="showModal">Open Modal</b-button>
    <b-button id="toggle-btn" @click="toggleModal">Toggle Modal</b-button>

    <b-modal ref="my-modal" hide-footer title="Using Component Methods">
      <div class="d-block text-center">
        <div>
          <label>Добавление вопроса</label>
            <div>
              <input v-model="new_question.content">
            </div>
            <label>Добавление ответов</label>
            <div v-for="answer, index in new_question.answers">
              <input v-model="new_question.answers[index].answer">
            </div>
            <label>Правильные ответы</label>
            <div>
              <input type="text" v-model="new_question.correct_answers" placeholder="Правильные ответы через запятую">
            </div>

            <button @click.prevent="add_new_question_to_questions">Добавить</button>
        </div>
      </div>
      <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
      <b-button class="mt-2" variant="outline-warning" block @click="toggleModal">Toggle Me</b-button>
    </b-modal>
  </div>
    <ul class="list-group">
      <!-- цикл for в контексте VueJS  v-for="sequence_element, index in sequence"  -->

      <li class="list-group-item" v-for="question, index in questions">
        <span> {{question.content}} </span>
        <div v-for="answer, index in question.answers">
          <input style="" type="checkbox" v-model="question.answers[index].mark" :disabled="!!test_result">
          <label> {{answer.answer}} </label>
        </div>

        <!-- навешиваем на кнопку действие возможны два варианта @click.prevent="some_method()"
        либо v-on:click.prevent="some_method()"  -->
      </li>
    </ul>

    <button v-if="!!!test_result" class="btn btn-danger" @click.prevent="accept_answers()"> Ответ </button>

    <div v-if="!!test_result">
      Правильных ответов {{test_result}} из {{questions.length}}
    </div>
  </div>


<script>
    // let axios_instance = axios.create(
    // );
  </script>


<script>

  new Vue({
    el: '#app',
    delimiters: ['{{', '}}'],
    data: function () {
      return {
        questions: [
          {
            id: 1,
            content: "Какое (какие) из предложенных определений описывает (описывают) принцип DRY?",
            answers: [
              {
                id: 1,
                answer: "Каждая часть знания должна иметь единственное, непротиворечивое и авторитетное представление в рамках системы",
                mark: true
              },
              {
                id: 2,
                answer: "Это принцип уменьшения количества повторений в коде, обращение к единственному источнику - или «фрагменту» - многократно используемого кода всякий раз, когда он вам нужен",
                mark: false
              },
              {
                id: 3,
                answer: "Принцип DRY утверждает, что большинство систем работают лучше всего, если они остаются простыми, а не усложняются",
                mark: false
              }
            ],
            correct_answers: [1, 3]
          },
          {
            id: 2,
            content: "qweqweqwe Какое (какие) из предложенных определений описывает (описывают) принцип DRY?",
            answers: [
              {
                id: 4,
                answer: "Каждая часть знания должна иметь единственное, непротиворечивое и авторитетное представление в рамках системы",
                mark: false,

              },
              {
                id: 5,
                answer: "Это принцип уменьшения количества повторений в коде, обращение к единственному источнику - или «фрагменту» - многократно используемого кода всякий раз, когда он вам нужен",
                mark: false
              },
              {
                id: 6,
                answer: "Принцип DRY утверждает, что большинство систем работают лучше всего, если они остаются простыми, а не усложняются",
                mark: false
              }
            ],
            correct_answers: [6]
          }
        ],
        test_result: null,
        new_question: this.create_new_question()
      }
    },
    methods: {
      showModal() {
        this.$refs['my-modal'].show()
      },
      hideModal() {
        this.$refs['my-modal'].hide()
      },
      toggleModal() {
        // We pass the ID of the button that we want to return focus to
        // when the modal has hidden
        this.$refs['my-modal'].toggle('#toggle-btn')
      },
      add_new_question_to_questions: function () {
        this.new_question.correct_answers = this.new_question.correct_answers.split(",")
        this.questions.push(this.new_question);
        this.new_question = this.create_new_question();

      },
      create_new_question: function () {
        return {
            id: null,
            content: "",
            answers: [
              {
                id: 1,
                answer: "",
                mark: false
              },
              {
                id: 2,
                answer: "",
                mark: false
              },
              {
                id: 3,
                answer: "",
                mark: false
              },
              {
                id: 4,
                answer: "",
                mark: false
              }
            ],
            correct_answers: []

        }
      },
      get_correct_answers: function () {
        let result = [];
        this.questions.forEach(question => {
          let t = {}
          t[question.id] = question.correct_answers
          console.log("LENGTH", t[question.id].length)
          result.push(t)
        })
        return result
      },
      accept_answers: function () {
        let result = [];
        this.questions.forEach((question, index)=> {
          let questionAnswer = {}
          questionAnswer = []
          question.answers.forEach(answer => {
            if (answer.mark) {
              questionAnswer.push(answer.id)
            }
          })
          if (JSON.stringify(questionAnswer) === JSON.stringify(this.questions[index].correct_answers)) {
            result.push(1)
          }
        })
        this.test_result = result.length.toString()
      },
    },
    // хук жизненного цикла экзепляра VueJS. при монтировании экземпляра будут выполнены инструкции внутри хука
    mounted: function () {
      // вызываем метод экземпляра для получения списка объектов
      // this.get_department_list()
    }
  })
</script>